body{
    font-family:'Times New Roman', Times, serif;
    color: #403D39;
    margin: 0 auto;
    padding: 0;
    background: #F6F4F3;
    line-height: 2em;
}

header{
    position: sticky;
    top: 0;
    background: #F6F4F3;
    width: 100%;
    line-height: 0;

}

h1{
    font-size: 40px;
    font-style: oblique;
    font-weight: 300;
}

h2{
    font-size: 2.5em;
    text-align: center;
}

h4{
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 10px;
}

.bites{
    color: #FC7A1E;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #9e9d9d34;
}

.nav_list{
    display: flex;
}

.nav_list li{
    list-style-type: none;
}

.nav_list a{
    font-size: 25px;
    font-weight: 300;
    font-style: oblique;
    text-decoration: none;
    color: #252422;
    padding: 15px 15px;
}
.page{
    display: flex;
    justify-items: center;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


.blog{
    flex: 3;
    text-align: center;
}

.blog article{
    text-align: left;
    margin-right: 80px;
    margin-left: 80px;
    padding: 10px;
    border-radius: 2%;
}

.blog h3{
    font-size: 2em;
}


.blog a{
    font-size: 1.2em;
    color: #403D39;
    font-weight: bold;
}

.blog img{
    height: 500px;
    width: 900px;
    border-radius: 10px;
}

.blog p{
    text-align: left;
    font-size: 1.4em;
    margin-top: 30px;
    margin-bottom: 30px;
}

table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #c7c7c731;
}

td,th{
    border: 2px solid black;
    font-weight: 300;
    font-size: 1.1em;
}

#form{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    text-align: center;
    background: #c7c7c731;
    border: 2px solid #403D39;
    border-radius: 10px;
    height: 250px;
    width: 200px;
}

#form label{
    font-size: 1em;
    font-variant: small-caps;
}

#form input{
    background: #F6F4F3;
    color:#403D39;
    border: 2px solid #69616140;
    margin-top: 20px;
    width: 168px;
    height: 30px;
}

#form button{
    font-weight: 600;
    background: #403D39;
    color:#F6F4F3;
    margin-top: 20px;
    width: 175px;
    height: 30px;
    border-radius: 5px;
}

#introduction{
    width: 1280px;
    margin: 0 auto;
    line-height: 2em;
}

#introduction img{
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 40px;
}
#introduction p,ul{
    text-align: center;
}
#introduction .start{
    font-size: 1.5em;
    text-align: left;
    width: 1100px;
    height: 350px;
}

#introduction .hobbies_skills{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
#introduction .hobbies_skills p{
    font-size: 1.6em;
}
#introduction .hobbies_skills li{
    list-style-type: none;
    font-size: 1.4em;
    margin-left: -20px;
}


.contact_form{
    width: 850px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #0a0a0a0c;
    padding: 25px;
    border: 2px solid #403D39;
    border-radius: 10px;
}

.contact_form[class]{
    color: #403D39;
    font-variant: small-caps;
}

.info_box{
    flex: 1;
    text-align: center;
}

.info_box input{
    width: 250px;
    padding: 10px;
    margin-bottom: 2px;
}

.info_box select{
    width: 275px;
    padding: 10px;
}

.message_box{
    flex: 1;
    text-align: center;
    margin-right: 30px;

}

.contact_form button{
    font-weight: 600;
    background: #403D39;
    border-radius: 5px;
    color:#F6F4F3;
    margin-top: 20px;
    width: 275px;
    height: 30px;

}

textarea{
    font-family: inherit;
    font-size: inherit;
    min-width: 20em;
    min-height: 17em;
    max-width: 20em;
    max-height: fit-content;
}